//colors
$primaryColor: #464131;
$secondaryColor: #FFC718;
$thirdColor: #00AC05;
$fourthColor: #FFFFFF;

$bgFarve1: #464131;
$bgFarve2: #E2E2E2;
$bgFarve3: #5C574A;

$fontFarve1: #404040;
$fontFarve2: #fff;

//fonts
$poppins: 'Source-sans-Pro, Poppins';
$futuraHeavy: '';
$futuraBook: '';

