@import './variables.scss';

body{
    margin: 0;
    padding: 0;
}

.logoTypo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2.25rem;
}

.navbar-custom {
    background-color: $primaryColor;
    padding-bottom: 20px;
}

.navbarText{
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: $secondaryColor;
}

.navbar-nav {
    margin-right: auto;
}

.navbar-nav > li{
    padding-right:15px;
  }

.btn-custom {
    border-color: $secondaryColor !important; 
    color: $secondaryColor !important;
}


.active{
    border-color: $secondaryColor !important;
    background-color: transparent !important;
    color: $thirdColor !important;
}

.btn-custom:hover {
    border-color: $thirdColor !important;
}

#omOs{
    white-space: nowrap;
}

#logoGreen{
    display: flex !important;
    flex-direction: row !important;
}


@media only screen and (max-width: 766px) {
    #desktopNav{
        display: none !important;
    }
}



@media only screen and (max-width: 1103px) and (min-width: 1024px)  {
    .btn-lg{
            font-size: 0.99rem !important;
        }
}

@media only screen and (max-width: 1024px) and (min-width: 984px)  {
    .btn-lg{
            font-size: 0.90rem !important;
        }
}

@media only screen and (max-width: 981px) and (min-width: 770px) {
    .navbar-expand-md{
        flex-direction: initial !important;
        flex-flow: wrap !important;
        justify-content: space-between !important;
    }

    #navbarNav{
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center !important;
    }

    .btn-lg {
        font-size: 1rem !important;
    }
}