@import './variables';

body{
    background-color: $bgFarve2;

    margin: 0;
    padding: 0;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    video{
        position: relative;
        z-index: 0;
        height: 91vh;

        object-fit: cover;

    }
    
    .videoOverlay{
        background-color: rgba($color: $bgFarve1, $alpha: 0.86);
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 91vh;
        padding: 5em;
        text-align: center;
        margin-top: 80px;
        hr{
            border-top: 5px solid $secondaryColor;
            width: 10vw;
            padding-top: 5vh;
        }
        h1{
            color: white;
            font-weight: 700;
            font-style: normal;
        }
        p {
            color: white;
        }
        button{
            margin-top: 20vh;

        }
    }

    section{
        background-color: $bgFarve2;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;

        .infoBox{
            padding: 2vh; padding-left: 15vw; padding-right: 15vw;
            
            .triangle{
                float: left;
                width: 30em;
            }

            .triangleInfo{
                position: relative;
                list-style: none;
                
                h2, li{
                    width: 60vw;
                    padding-left: 30vw;

                    font-size: 1.7em;
                }
                h2{
                    padding-top: 5vh;
                    font-size: 2em;
                }
            }
            .longTextTitle{
                padding-top: 7em;
            
                text-align: center;
            }
            .longText{
                font-family: $poppins;
                font-weight: 400;
                font-size: 1.2em;
            }
            h3{
                text-align: center;
                font-family: $poppins;
                font-weight: 400;
            }
        }
        
    }

}

//FOOTER SECTION
footer {
    background-color: $bgFarve1;
    color: $fontFarve2;

    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;

    display: flex !important;
    justify-content: space-evenly;

    padding: 3rem;
    h4 {
        padding: 1rem;
    }
    h2 {
        padding: 1rem;
    }
}