@import './variables';

body{
    background-color: $bgFarve2;

    margin: 0;
    padding: 0;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    video{
        position: relative;
        z-index: 0;
        height: 91vh;

        object-fit: cover;

    }
    
    .videoOverlay{
        background-color: rgba($color: $bgFarve1, $alpha: 0.86);
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 91vh;
        padding: 5em;
        text-align: center;
        margin-top: 80px;
        hr{
            border-top: 5px solid $secondaryColor;
            width: 10vw;
            padding-top: 5vh;
        }
        h1{
            color: white;
            font-weight: 700;
            font-style: normal;
        }
        p {
            color: white;
        }
        button{
            margin-top: 5vh;

        }
    }

    section {
        background-color: $bgFarve2;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;
        .infoBox{
            display: flex;
            flex-direction: column;
            margin-left: 15%;
            margin-right: 15%;
            .triangle{
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
            .triangleInfo{
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                li {
                    text-decoration: underline $secondaryColor;
                    margin: 1rem;
                }
                .longTextTitle{
                    text-align: center;
                }
                .longText{
                    font-family: $poppins;
                    font-weight: 400;
                }
                h3{
                    text-align: center;
                    font-family: $poppins;
                    font-weight: 400;
                }
            }
        }
    }


//FOOTER SECTION
footer {
    background-color: $bgFarve1;
    color: $fontFarve2;

    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;

    display: flex !important;
    justify-content: space-evenly;

    padding: 3rem;
    h4 {
        padding: 1rem;
    }
    h2 {
        padding: 1rem;
    }
}
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 425px) {
    .infoBox {
        margin-left: 0;
        margin-right: 0;
    }

    .triangleInfo {
        flex-direction: column;
    }

    .infoBox {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}