* {
  margin: 0;
  padding: 0;
}

.BG {
  background-size: cover;
  min-height: 90.5vh;
  color: white;
  background-color: #464131;
  background-blend-mode: soft-light;
  /* other stroke
  p::after {
      content: '';
      display: flex;
      text-align: center;
      background-color: $secondaryColor;
      height: 0.3rem;
      width: 1rem;
  }
  */
}
.BG p {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0rem !important;
}
.BG h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  z-index: 1;
}
.BG .btn-custom {
  font-size: 1.5rem;
  font-family: futura-pt, sans-serif;
}

hr {
  border-top: 5px solid #FFC718 !important;
  width: 10vw;
  padding-top: 5vh;
  opacity: 100 !important;
  align-items: center !important;
  margin-bottom: 0rem !important;
}

.textContainer {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  background-color: #E2E2E2;
  color: #404040;
}
.textContainer p {
  margin: 0;
  text-align: center;
}
.textContainer .subject {
  padding: 3rem;
}
.textContainer h2 {
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.VideoTextContainer {
  background-color: #5C574A;
  color: #fff;
  display: flex;
}
.VideoTextContainer iframe {
  padding: 5rem;
}
.VideoTextContainer #VideoTextContainerh2 {
  margin-top: 5rem;
}
.VideoTextContainer .VideoContainer {
  position: relative;
}
.VideoTextContainer .textWrapper {
  padding-right: 2rem;
}

footer {
  background-color: #464131;
  color: #fff;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}
footer h4 {
  padding: 1rem;
}
footer h2 {
  padding: 1rem;
}

@media only screen and (max-width: 1024px) {
  .VideoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .textContainer {
    flex-direction: column !important;
    padding: 2rem;
  }
  .textContainer h4 {
    padding-left: 1rem;
  }
  .textContainer p {
    padding: 1rem;
  }
}
@media only screen and (max-width: 1377px) {
  .VideoTextContainer {
    display: flex;
    flex-direction: column !important;
    padding: 2rem;
    justify-content: center;
  }
  .VideoTextContainer #VideoTextContainerh2 {
    margin-top: 1rem;
  }
  .VideoTextContainer .VideoContainer {
    display: flex;
    justify-content: center;
  }
  .VideoTextContainer iframe {
    width: 840px;
    height: 501px;
    padding: 0;
    position: relative;
  }
}
/*Footer*/
footer {
  display: flex !important;
  background-color: #464131;
  color: #fff;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
}
footer h4 {
  padding: 1rem;
}
footer h2 {
  padding: 1rem;
}

@media only screen and (max-width: 1024px) {
  footer img {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  footer {
    flex-direction: column !important;
  }
  footer h4 {
    padding: 0rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 766px) {
  .VideoTextContainer iframe {
    width: 680;
  }
  .VideoTextContainer #VideoTextContainerh2 {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=workshop.css.map */